/terraform/AWS_Basic_terraform/aws-alb-routing/.terraform/
/terraform/AWS_Basic_terraform/aws-alb/.terraform/
/terraform/AWS_Basic_terraform/aws-elb-classicLB/.terraform/
/terraform/EKS_terraform/EC2-BastionHost/private-key
/monitoring/kube-prometheus-stack
/terraform/EKS_terraform/myEks
/istio/restudy/istio/helm/sample/test-2/robot-shop/
/project/aws_terraform/ec2-3tier-basic/private-key