/terraform/AWS_Basic_terraform/aws-alb-routing/.terraform/
/terraform/AWS_Basic_terraform/aws-alb/.terraform/
/terraform/AWS_Basic_terraform/aws-elb-classicLB/.terraform/
/terraform/EKS_terraform/EC2-BastionHost/private-key
/monitoring/kube-prometheus-stack
/terraform/EKS_terraform/myEks
/istio/restudy/istio/helm/sample/test-2/robot-shop/
/pratice/aws_terraform/ec2-3tier-basic/private-key
/pratice/aws_terraform/ec2-3tier-lb/private-key
/pratice/aws_terraform/ec2-3tier-lb-contextPath/private-key
/terraform/EKS_terraform/VPC/3tier-Bastion/bastion/private-key
/pratice/aws_terraform/eks-demo/eks-3tier-lb/private-key
/pratice/aws_terraform/eks-demo/eks-3tier-lb/.terraform
/pratice/aws_terraform/s3-staticweb
/pratice/aws_terraform/eks-demo/eks-3tier-lb/terraform.tfstate
/pratice/aws_terraform/eks-demo/eks-3tier-lb/terraform.tfstate.backup
/pratice/aws_terraform/eks-demo/eks-3tier-lb/.terraform.lock.hcl
/gitlab/docker/data
/gitlab/docker/config
/gitlab/docker/logs
/gitlab/docker